<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Empleados - Salarios</h4>
          <form novalidate [formGroup]="formGroupEmployeeSalary">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="id">
            </div>

            <div class="form-group row mb-4">

              <div class="col-md-6 p-1">
                <input name="identificationNumber" formControlName="identificationNumber" [class.is-invalid]="identificationNoValido" type="text" class="form-control" placeholder="N. Identificacion">
                <small *ngIf="identificationNoValido" class="form-text text-danger">Este campo es obligatorio</small>
              </div>

              <div class="col-md-6 p-1">
                <input name="employeeCode" formControlName="employeeCode" [class.is-invalid]="codeNoValido" type="text" class="form-control" placeholder="Codigo Empleado">
                <small *ngIf="codeNoValido" class="form-text text-danger">Este campo es obligatorio</small>
              </div>

              <div class="col-md-6 p-1">
                <input name="employeeName" formControlName="employeeName" [class.is-invalid]="nameNoValido" type="text" class="form-control" placeholder="Nombres">
                <small *ngIf="nameNoValido" class="form-text text-danger">Este campo es obligatorio</small>
              </div>

              <div class="col-md-6 p-1">
                <input name="employeeSurname" formControlName="employeeSurname" [class.is-invalid]="surnameNoValido" type="text" class="form-control" placeholder="Apellidos">
                <small *ngIf="surnameNoValido" class="form-text text-danger">Este campo es obligatorio</small>
              </div>


              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <input formControlName="begin" matInput [matDatepicker]="picker1" placeholder="Fecha de Inicio" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              </div>

              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-select placeholder="-- Seleccione la Posicion --" formControlName="positionId">
                      <mat-option *ngFor="let item of positionModel" [value]="item.id">
                          {{item.name}}
                      </mat-option>
                      <mat-error *ngIf="positionNoValido">Este campo es obligatorio</mat-error>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-select placeholder="-- Seleccione la Division --" formControlName="divisionId">
                      <mat-option *ngFor="let item of divisionModel" [value]="item.id">
                          {{item.name}}
                      </mat-option>
                      <mat-error *ngIf="divisionNoValido">Este campo es obligatorio</mat-error>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-select placeholder="-- Seleccione la Oficina --" formControlName="officeId">
                      <mat-option *ngFor="let item of officeModel" [value]="item.id">
                          {{item.name}}
                      </mat-option>
                      <mat-error *ngIf="divisionNoValido">Este campo es obligatorio</mat-error>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-select placeholder="-- Seleccione el Grado --" formControlName="grade">
                      <mat-option *ngFor="let item of gradeList" [value]="item">{{ item }}</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>



              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <input formControlName="birthday" matInput [matDatepicker]="picker2" placeholder="Birthday" />
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              </div>

              <div class="col-md-1 p-1">
                <label for="">Year</label>
                <input name="year" formControlName="year" type="number" class="form-control" placeholder="Year">
              </div>

              <div class="col-md-1 p-1">
                <label for="">Month</label>
                <input name="month" formControlName="month" type="number" class="form-control" placeholder="Month">
              </div>

              <div class="col-md-2 p-1">
                <label for="">B. Salary</label>
                <input name="baseSalary" formControlName="baseSalary" type="number" class="form-control" placeholder="Base Salary">
              </div>

              <div class="col-md-2 p-1">
                <label for="">P. Bonus</label>
                <input name="productionBonus" formControlName="productionBonus" type="number" class="form-control" placeholder="Production Bonus">
              </div>

              <div class="col-md-2 p-1">
                <label for="">C. Bonus</label>
                <input name="compensationBonus" formControlName="compensationBonus" type="number" class="form-control" placeholder="Compensation Bonus">
              </div>

              <div class="col-md-2 p-1">
                <label for="">Commision</label>
                <input name="commission" formControlName="commission" type="number" class="form-control" placeholder="Commission">
              </div>

              <div class="col-md-2 p-1">
                <label for="">Contribution</label>
                <input name="contribution" formControlName="contribution" type="number" class="form-control" placeholder="Contribution">
              </div>


            </div>




            <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="Guardar()" [disabled]="!formGroupEmployeeSalary.valid"><i class="fa fa-plus"></i>Agregar</button>

                <!-- <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()"
                    [disabled]="!formGroupEmployee.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template> -->

                <button type="button" (click)="Regresar()" class="btn btn-info btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Regresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
