<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Paciente</h4>

          <form formGroup="form">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="idPaciente">
            </div>


            <div class="form-group row mb-4">

              <div class="col-md-4">
                <label class="col-form-label">Cedula</label>
                <input type="text" class="form-control" placeholder="Cedula" formControlName="cedula">
              </div>

                <div class="col-md-4">
                  <label class="col-form-label">Nombres</label>
                  <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Apellidos</label>
                  <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellidos">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Sexo</label>
                  <input type="text" class="form-control" placeholder="Sexo" formControlName="sexo">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Telefono</label>
                  <input type="text" class="form-control" placeholder="Telefono" formControlName="telefono">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Usuario</label>
                  <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Password</label>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password">
                </div>

            </div>

            <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="Guardar()" ><i class="fa fa-plus"></i>Agregar</button>

                <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()"
                    [disabled]="!form.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template>

                <button type="button" (click)="Cerrar()" class="btn btn-danger btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Cerrar</button>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->


