.m8 {
  margin: 8px;
}

table {
  width: 100%;
}
.expanded {
  height: min-content !important;
  visibility: visible !important;
}
.hidColLength-0 {
  height: 0px !important;
  min-height: 0px !important;
  visibility: hidden !important;
}

.btnToggleExpand {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  &.active {
    &:before {
      content: "-";
      background-color: #d33333;
    }
  }

  &:before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Courier New", Courier, monospace;
    line-height: 14px;
    content: "+";
    background-color: #31b131;
  }
}

.filterHeader {
  padding: 0 24px;
}
