<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Office</h4>
          <form novalidate [formGroup]="positionCreateForm">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="id">
            </div>


            <div class="form-group row mb-4">
              <div class="col-md-12">
                <input name="name" formControlName="name" [class.is-invalid]="NameNoValido" type="text" class="form-control" placeholder="Nombre">
                <small *ngIf="NameNoValido" class="form-text text-danger">Este campo es obligatorio</small>
              </div>

            </div>

            <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="Guardar()" *ngIf="this.positionModel.id === undefined || this.positionModel.id === 0 else elseModificar" [disabled]="!positionCreateForm.valid"><i class="fa fa-plus"></i>Agregar</button>

                <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()"
                    [disabled]="!positionCreateForm.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template>

                <button type="button" (click)="Regresar()" class="btn btn-info btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Regresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->

