<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="card-title text-center">Lista de Pacientes</h4>
      <div class="card">
        <div class="card-body">
          <a class="btn btn-success" (click)="openDialog()" >Agregar</a>
          <button class="btn btn-primary" [routerLink]="['/']">Menu</button>
          <hr />
          <input class="colorpicker-default form-control" type="text" (keyup)="Buscar($event.target.value)" placeholder="Buscar" />
          <hr />
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="idPaciente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.idPaciente}} </td>
              </ng-container>

              <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
              </ng-container>

              <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
              </ng-container>

              <ng-container matColumnDef="sexo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
                <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
              </ng-container>

              <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element" style='width:20px'>
                  <mat-icon style="cursor: pointer;" matTooltip="Modificar" color="primary" (click)="openDialog(element)">
                    edit</mat-icon>
                    <!-- <mat-icon style="cursor: pointer;" matTooltip="Foto" color="primary" [routerLink]="['/detalle-foto', element.idMedico]">
                      camera</mat-icon> -->
                  <mat-icon style="cursor: pointer;" matTooltip="Eliminar" color="warn" (click)="Eliminar(element)">delete</mat-icon>
                </td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource.filteredData.length <= 0 && isLoading === false;">
              <div style="text-align: center; border-bottom: 1px solid #555b6d">
                sin datos a mostrar..
              </div>
            </div>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-bar color="primary" mode="query" value='40'>
              </mat-progress-bar>
            </mat-card>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

