

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Practicum 3.2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="list-especialidad">Especialidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list-medico">Medicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list-paciente">Pacientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="list-employee-salary">Citas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


