<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Medico</h4>
          <form novalidate [formGroup]="form">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="idMedico">
            </div>


            <div class="form-group row mb-4">

                <div class="col-md-4">
                  <label class="col-form-label">Cedula</label>
                  <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Nombres</label>
                  <input formControlName="nombres" type="text" class="form-control" placeholder="Nombres">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Apellidos</label>
                  <input formControlName="apellidos" type="text" class="form-control" placeholder="Apellidos">
                </div>

                <div class="col-md-6 pt-2">
                  <mat-form-field appearance="fill">
                    <mat-label>Especialidades</mat-label>
                    <mat-select (selectionChange)="seleccionarEvento($event)" formControlName="especialidad">
                      <mat-option *ngFor="let item of especialidadArray" [value]="item">
                        {{item.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="col-md-6 pt-2">
                  <mat-form-field appearance="fill">
                    <mat-label>Horarios</mat-label>
                    <mat-select (selectionChange)="seleccionarEvento($event)" formControlName="horario">
                      <mat-option *ngFor="let item of horarioArray" [value]="item">
                        {{item.dias}} {{ item.hora_inicio }} {{ item.hora_fin }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

            </div>

            <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="Guardar()" *ngIf="this.medico.idMedico === undefined || this.medico.idMedico === 0 else elseModificar" [disabled]="!form.valid"><i class="fa fa-plus"></i>Agregar</button>

                <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()" [disabled]="!form.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template>

                <button type="button" (click)="Regresar()" class="btn btn-info btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Regresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->

